@mixin middle_located() {
  display: flex;
  justify-content: center;    // 縦方向中央揃え
  align-items: center;    // 横方向中央揃え
}

@mixin both_end_located() {
  display: flex;
  justify-content: space-between;
}