.iz_footer
  .iz_navi
    .iz_ul
      .iz_privacy
        プライバシーポリシー
      .iz_tos
        メルカリ利用規約
      .iz_tokutei
        特定商取引に関する表記

  = link_to "https://www.mercari.com/jp/" do
    .iz_a
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464"
  .iz_p
    © 2019 Mercari