.hi-container
  .hi-container__header 
    -# 水谷さん作成の部分テンプレート(ヘッダー)が入る
  .hi-container__navigation
    .hi-container__navigation__text
      %span
        メルカリ
      = fa_icon "chevron-right", style: 'color: grey'
      %span
        千鳥