.iz_wrapper
  .iz_header
    .iz_h1
      .iz_a{:href => ""}
        %img{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464"}
  .iz_main
    .iz_container
      .iz_h2
        新規会員登録
      .iz_registration-form
        .iz_registration-list
          .iz_registration-list__mailaddress{id: "iz_mouseover"}
            .iz_registration-list__mailaddress__button
              %im.far.fa-envelope
            .iz_registration-list__mailaddress__message{:href => "https://www.mercari.com/jp/signup/registration/"}
              = link_to "メールアドレスで登録", step1_signup_index_path ,class: "iz_registration-list__mailaddress__message"
          .iz_registration-list__facebook{id: "js-button1"}
            .iz_registration-list__facebook__button
              %if.fab.fa-facebook-square
            .iz_registration-list__facebook__message
              Facebookで登録
          .iz_registration-list__google{id: "js-button2"}
            .iz_registration-list__google__button
              = image_tag "https://pbs.twimg.com/profile_images/874463635950551040/IhlhyWsq.jpg", id: "google_logo"
            .iz_registration-list__google__message
              Googleで登録
    .iz_login_form_facebook
    .iz_login_form_google
  = render "users/footer"