.hi-container{
  width: 100%;
  // &__header{
  //   height: 100px;  //水谷さんの部分テンプレートできたら指定を外す
  // }
  &__content{
    background-color: #f5f5f5;
    @include middle_located();
    &__position{
      width: 700px;
      &__item{
        background-color: white;
        margin: 50px 0px 0px 0px;  //適当に決めた
        padding: 24px 40px 40px;
        &__name{
          font-size: 24px;
          font-weight: bold;
          text-align: center;
        }
        &__detail{
          @include both_end_located();
          margin: 16px 0px 0px 0px;
          &__photo{             //適当に決めた
            margin: 0px 30px 0px 0px;
            width: 300px;
            height: 420px;
            background-color: #f5f5f5;
            &__top{
              height: 300px;
              @include middle_located();
            }
            &__bottom{
              height: 120px;
              &__size{
                height: 60px;
                width: 300px;
                @include both_end_located();
                &__mini{
                  width: 60px;
                  @include middle_located();
                }
              }
            }
          }
          &__matrix{
            width: 100%;
            height: 420px;
            font-size: 14px;
            box-sizing: border-box;
            .hi-container__content__position__item__detail__matrix__evaliation{
              @include both_end_located();
              &__good{
                color: red;
                display: flex;
                padding-top: 6px;
                .fa-smile-beam{
                  padding-top: 3px;
                }
                &__num{
                  color: black;
                  font-size: 14px;
                  padding-left: 3px;
                }
              }
              &__normal{
                color: orange;
                display: flex;
                padding-top: 6px;
                .fa-meh{
                  padding-top: 3px;
                }
                &__num{
                  color: black;
                  font-size: 14px;
                  padding-left: 3px;
                }
              }
              &__bad{
                color: blue;
                display: flex;
                padding-top: 6px;
                .fa-tired{
                  padding-top: 3px;
                }
                &__num{
                  color: black;
                  font-size: 14px;
                  padding-left: 3px;
                }
              }
            }
            th{
              width: 39%;
              padding: 8px 8px;
              text-align: left;
              font-size: 14px;
              font-weight: 400;
              background-color: #fafafa;
              border: 1px solid #f5f5f5;
            }
            td{
              font-size: 13px;
              width: 71%;
              padding: 8px;
              border: 1px solid #f5f5f5;
              .edit_user{
                text-decoration: none;
                color: #0099E8;
              }
            }
            .category_ancestory{
              color: #0099E8;
            }
          }
        }
        &__price{
          margin: 24px 0px 0px 0px;
          @include middle_located();
          &__num{
            font-size: 50px;
            font-weight: bold;
            margin: 0px 16px 0px 0px;
          }
          &__tax{
            margin-top: 40px;
            font-size: 10px;
          }
          &__shipping-fee{
            margin-top: 34px;
            font-size: 16px;
          }
        }
        &__buybtn{
          height: 60px;
          background-color: #ea352d;
          font-weight: bold;
          margin: 32px 16px 0px 0px;
          @include middle_located();
          text-decoration: none;
          &__text{
            color: white;
            font-size: 24px;
          }
        }
        &__soldbtn{
          height: 60px;
          background-color: #888888;
          font-weight: bold;
          margin: 32px 16px 0px 0px;
          @include middle_located();
          &__text{
            color: white;
            font-size: 24px;
          }
        }
        &__explanation{
          padding-top: 32px;
          &__inner{
            font-size: 18px;
          }
        }
        &__smallbtns{
          @include both_end_located();
          margin-top: 16px;
          font-size: 14px;
          &__left{
            display: flex;
            &__favo{
              padding: 8px 16px;
              background-color: #f5f5f5;
              border: 1px solid #f5f5f5;
              border-radius: 40px;
              span{
                margin: 1px 0px 0px 8px;
              }
            }
            &__ban{
              padding: 8px 16px;
              margin: 0px 0px 0px 16px;
              background-color: #f5f5f5;
              border: 1px solid #f5f5f5;
              border-radius: 40px;
              span{
                margin: 1px 0px 0px 8px;
              }
            }
          }
          &__right{
            padding: 8px 16px;
            color: #0099E8;
          }
        }
      }
      &__list{
        margin-top: 10px;
        margin-bottom: 50px;
        padding: 24px;
        background-color: white;
        &__caution{
          padding: 8px;
          font-size: 14px;
          background-color: #FFF6DE;
        }
        &__textarea{
          margin: 8px 0 0 0;
          padding: 10px;
          width: calc(100% - 24px);
          min-height: 104px;
        }
        &__btn{
          width: 100%;
          height: 50px;
          font-size: 14px;
          margin: 8px 0 0 0;
          text-align: center;
          background-color: #aaaaaa;
          color: white;
        }
      } 
    }
  }
}