%aside.app-banner
  %figure
    %img.m-app__back{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg", :width => "1000"}/
  .m-app
    
    .m-app__left
      %h2.m-app__left__1 スマホでかんたんフリマアプリ
      %p.m-app__left__2 今すぐ無料ダウンロード！
      .m-app__left__icon.clearfix
        %figure
          %img.m-app__left__icon__1{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?872667783", :width => "68"}/
        %ul.m-app__left__icon__smart
          %li.m-app__left__icon__smart__1
            %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
              %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?872667783", :width => "133"}/
          %li.m-app__left__icon__smart__1
            %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
              %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?872667783", :width => "133"}/
    %figure
      %img.m-app__right{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?872667783", :width => "280"}/
%footer.global-footer
  %nav.clearfix
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
        %li
          %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
        %li
          %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
        %li
          %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
        %li
          %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
        %li.footer-social-link
          %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
            %i.icon-twitter
        %li.footer-social-link
          %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
            %i.icon-facebook
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
        %li
          %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li
          %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
        %li
          %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
          %li
            %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
          %li
            %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
          %li
            %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          %a.active{:href => "https://www.mercari.com/jp/"} 日本
        %li
          %a{:href => "https://www.mercari.com/"} United States
  .footer-bottom
    %a.footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?872667783", :width => "124"}/
    %span.footer-copyright
      %small © 2019 Mercari
%a.footer-sell-btn{:href => "https://www.mercari.com/jp/sell/"}
  %div 出品
  %i.icon-camera
.custom-banner.custom-banner-ios
  .custom-banner-dialogue
    .banner-details
      .banner-download-text
        iOS版メルカリ
      .banner-rating
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "10"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "10"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "10"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "10"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?872667783", :width => "10"}/
        .user-num (144,313)
    %a.banner-install-app{:href => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=installHeader.creative1", :target => "_blank"} インストール
    %a.banner-open-app{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
.custom-banner.custom-banner-android
  .custom-banner-dialogue
    .banner-details
      .banner-download-text
        Android版メルカリ
      .banner-rating
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-on.png?872667783", :width => "12"}/
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/star-off.png?872667783", :width => "12"}/
        %span.user-num (240,827)
    %a.banner-install-app{:href => "http://app.adjust.io/xio2ii?campaign=android&adgroup=installHeader.creative1", :target => "_blank"} インストール
    %a.banner-open-app{"data-action" => "app/launch", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""} アプリで開く
    %i.icon-close
.overlay
%script{:src => "//www-mercari-jp.akamaized.net/assets/js/app.js?2413021251"}
:javascript
  window.dataLayer = window.dataLayer || [];
  dataLayer.push({
    'event': 'mypage',
    'uid': '593913646'
  });
/ Google Tag Manager
:javascript
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KLPT5L5');
/ End Google Tag Manager
