
= link_to "/items/#{image.id}", class: "m-main__items__low__item"  do
  %figure.m-main__items__low__item__pic
    = image_tag image.images.first.image.url , class: 'm-main__items__low__item__pic'
    - if image.buyer_id != 0 || image.buyer_id.blank?
      .m-sold-triangle
      .m-sold-triangle-text
        SOLD
    .m-main__items__low__item__pic__price
      = "¥"+ image.price.to_s(:delimited)
  .m-main__items__low__item__descript
    .m-main__items__low__item__descript__1
      =image.name.truncate(20)
        