.m-main
  %a1side
    %figure.m-main__banner
      %img{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg", width: "1450"}/
  .m-main__popcate
    .m-main__popcate__up 人気のカテゴリー
    .m-main__popcate__low
      .m-main__popcate__low__list レディース
      .m-main__popcate__low__list メンズ
      .m-main__popcate__low__list 家電・スマホ・カメラ
      .m-main__popcate__low__list おもちゃ・ホビー・グッズ

  .m-main__items
    .m-main__items__up レディース新着アイテム
    .m-main__items__low
      .m-main__items__low__item
        %figure.m-main__items__low__item__pic
          = image_tag @image.image[0].url , class: 'm-main__items__low__item__pic'
          -# %img{alt: "", src: "https://static.mercdn.net/thumb/photos/m71080399752_1.jpg?1569402121", width: "193"}/
        
          .m-main__items__low__item__pic__price ¥2,600
        .m-main__items__low__item__descript
          .m-main__items__low__item__descript__1 ノースリーブロングワンピース
          
      .m-main__items__low__item
        %figure.m-main__items__low__item__pic
          %img{alt: "", src: "https://static.mercdn.net/thumb/photos/m71080399752_1.jpg?1569402121", width: "193"}/
        
          .m-main__items__low__item__pic__price ¥2,600
        .m-main__items__low__item__descript
          .m-main__items__low__item__descript__1 ノースリーブロングワンピース
          
      
