.m-main
  %a1side
    %figure.m-main__banner
      %div.slick
        %div
          %img{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg", width: "1450", class: "m-main__banner__img"}/
        %div
          %img{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-super-exhibition-fes-1354ceda34bd06081a45ee755e911f07.jpg", width: "1450", class: "m-main__banner__img"}/
        %div
          = image_tag '1.png', :size =>'1450x390'
        
      
  .m-main__popcate
    .m-main__popcate__up 人気のカテゴリー
    .m-main__popcate__low
      .m-main__popcate__low__list レディース
      .m-main__popcate__low__list メンズ
      .m-main__popcate__low__list 家電・スマホ・カメラ
      .m-main__popcate__low__list おもちゃ・ホビー・グッズ

  .m-main__items
    .m-main__items__up レディース新着アイテム
    .m-main__items__low
      - @radies.each do |rady|
        - image = rady
        = render partial: "image", locals: { image: image }
 
  .m-main__items
    .m-main__items__up メンズ新着アイテム
    .m-main__items__low
      - @mens.each do |man|
        - image = man
        = render partial: "image", locals: { image: image }
      
  .m-main__items
    .m-main__items__up 家電・スマホ・カメラ新着アイテム
    .m-main__items__low
      - @kadens.each do |kaden|
        - image = kaden
        = render partial: "image", locals: { image: image }
 