.hi-container
  .hi-container__header 
    -# 水谷さん作成の部分テンプレート(ヘッダー)が入る
  .hi-container__top-content
    .hi-container__item
      .hi-container__item__name
        千鳥のノブ
      .hi-container__item__detail
        .hi-container__item__detail__photo
          -# JSで洗濯した写真を表示させるコマンドを打ち込む必要あり
        .hi-container__item__detail__matrix
          %table
            %tr
              %th
                出品者
              %td
                大吾
            %tr
              %th
                カテゴリ
              %td
                超むちゃんこおもろい芸人
            %tr
              %th
                ブランド
              %td
                吉本
            %tr
              %th
                商品のサイズ
              %td
                XXXXXXXXXXL
            %tr
              %th
                商品の状態
              %td
                売り物にならんほど汚れまくり
            %tr
              %th
                商品の状態
              %td
                汚れまくり
            %tr
              %th
                配送料の負担
              %td
                ノブが全部負担
            %tr
              %th
                配送の方法
              %td
                商品(ノブ)が自ら向かいます
            %tr
              %th
                配送元地域
              %td
                岡山県
            %tr
              %th
                発送日の目安
              %td
                購入直後
      .hi-container__item__price
        .hi-container__item__price__num
          ¥10
        .hi-container__item__price__tax
          (税込)
        .hi-container__item__price__shipping-fee
          送料込み
      .hi-container__item__buybtn
        購入画面に進む
      .hi-container__item__explanation
        .hi-container__item__explanation__inner
          もうこの相方飽きたから売る
      .hi-container__item__smallbtns
        .hi-container__item__smallbtns__left
          .hi-container__item__smallbtns__left__favo
            -# fontawesomeでハートマークを持ってくるiタグ
            %span
              いいね
            %span
              0
        .hi-container__item__smallbtns__right
          -# fontawesomeでハートマークを持ってくるiタグ
          %span
            あんしん・あんぜんへの取り組み
  .hi-container__down-message
    .hi-container__down-message__list
    .hi-container__down-message__post
      .hi-container__down-message__post__caution
      .hi-container__down-message__post__textarea
      .hi-container__down-message__post__btn
        %span
          コメントする
  .hi-container__footer
    -# 水谷さん作成の部分テンプレート(フッター)が入る