.m-footerall{
  width:100%;
  display:block;
}

.m-app__back{
  width:100%;
  position:absolute;
  left:0;
  padding:0;
  float:left;
}

.m-app{
  height:273px;
  width:80%;
  bottom: 0;
  position: fixed;
  margin:0 auto;
  display: flex;
  position:relative;
  z-index:1;
  &__left{
    width:40%;
    margin-left:180px;
    z-index:2;
    &__1{
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    &__2{
      color: rgb(255, 255, 255);
      font-size: 35px;
      margin-bottom: 20px;
    }

    &__icon{
      width:100%;
      display: -webkit-flex;
      padding:0;
      &__1{
        margin-left:0;
      }
      &__smart{
        margin-top:33px;
        margin-left:0;
        &__1{
          float:left;
          margin-right:20px;
        }
      }
    }
  }
}
.global-footer{
  background: #212121;
  width:100%;
}
.m-foot{
  width:70%;
  margin:0 auto;
  display:flex;
  
  &__cell{
    text-decoration: none;
    text-align:left;
    text-decoration: none;
    
    &__head{
      font-size:16px;
      font-weight:bold;
      padding-left:20px;
      color:white;
    }
    &__cell{
      font-size:16px;
      font-weight:bold;
      float:left;
    }
  }
}
.m-full-width{
  width:680px;
  height:100px;
}
.m-foot__font{
  font-size:12px;
  margin:20px;
  text-decoration: none;
  
}
.m-footer-social-link{
  float:left;
  width:30px;
  margin-right:10px;
  font-size: 30px;
  color:white;
}
.m-icon-facebook{
  height:40px;
}
.m-bottom{
  width:70%;
  margin:0 auto;
  
  &__copyright{
    color:white;
    margin-left:300px;
  }
}
a1 {
  color:rgb(255, 255, 255);
  text-decoration: none;
  }