.breadcrumbs{
  font-size: 14px;
  a{
    text-decoration: none;
    color: black;
    margin: 0 8px;
  }
  .current{
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin: 0 8px;
  }
}
