.iz_wrapper{
  height:100vh;
  width: 100vw;
  background-color: rgb(245,245,245);
  .iz_header{
    height: 128px;
    margin:  auto;
    padding: 0;
    .iz_h1{
      height: 33px;
      width: 120px;
      margin:  auto;
      padding: 20px 80px 0px 0px;
      line-height: 128px;
      .iz_a{
        height: 49px;
        width: 185px;
      }
    }
  }
  .iz_main{
    height: 400px;
    width: 100%;
    // border: solid blue;
    // color: red;
    // background-color: rgb(204, 248, 7);
    margin:  auto;
    .iz_container{
      height: 100%;
      max-width: 636px;
      // border: solid blue;
      background-color:white;
      margin:  auto;
      .iz_h2{
        height: 59px;
        text-align:center;
        line-height: 59px;
        font-weight: bold;
        border-bottom: solid 0.1px rgb(223, 223, 223);
        padding: 32px;
        font-size: 22px;
      }
      .iz_registration-form{
        height: 100%;
        width: 100%;
        margin:  auto;
        padding-top: 30px;
        padding-bottom: 50px;
        .iz_registration-list{
          height: 100%;
          width: 343px;
          margin:  auto;
          &__mailaddress{
            height: 50px;
            width: 100%;
            background-color: #ea352d;
            border-radius: 4px;
            display: block;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            text-align: center;
            margin:  16px 0px 0px 0px;
            @include both_end_located();
            &__button{
              height: 50px;
            }
            &__message{
              height: 50px;
              width: 100%;
              color: #fff;
              text-decoration:none;
              margin-right:20px;
            }
          }
          &__facebook{
            height: 50px;
            width: 100%;
            color: #fff;
            background: #385185;
            border-radius: 4px;
            display: block;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            text-align: center;
            margin:  16px 0px 0px 0px;
            @include both_end_located();
            &__button{
              height: 50px;
            }
            &__message{
              height: 50px;
              width: 100%;
              color: #fff;
              margin-right:40px;
            }
          }
          &__google{
            height: 50px;
            width: 100%;
            background: #fff;
            border-radius: 4px;
            display: block;
            line-height: 48px;
            font-size: 14px;
            border: #979797 solid 1px;
            color: #333;
            text-align: center;
            margin:  16px 0px 0px 0px;
            @include both_end_located();
            &__button{
              height: 50px;
            }
            &__message{
              height: 50px;
              width: 100%;
              color: #333;
              margin-right:40px;
            }
          }
        }
      }
    }
    .iz_login_form_facebook{
      margin:  auto;
    }
    .iz_login_form_google{
      margin:  auto;
    }
  }
}
im{
  font-size:20px;
  color:white;
  margin-top:15px;
  margin-left:18px;
}
if{
  font-size:30px;
  color:white;
  margin-top:10px;
  margin-left:15px;
}
ig{
  font-size:25px;
  color:rgb(230, 230, 67);
  margin-top:12px;
  margin-left:15px;
}