.iz2_wrapper{
  height:100%;
  width: 100%;
  background-color: rgb(245,245,245);
  .iz2_header{
    height:128px;
    width: 100%;
    margin:  auto;
    padding: 0;
    line-height: 33px;
    &__progress-bar{
      height:100%;
      width: 100%;
      font-size: 12px;
      @include middle_located();
      text-align: center;
      color: gainsboro;
      &__logo{
        height: 49px;
        width: 185px;
        line-height: 56px;
        margin-right: 50px;
      }
      &__active{
        margin-right: 50px;
      }
      &__phone-certification{
        margin-right: 50px;
      }
      &__address{
        margin-right: 50px;
      }
      &__pay{
        margin-right: 50px;
      }
      &__finish{
        margin-right: 50px;
      }
    }
  }
  .iz2_container{
    height: 100%;
    max-width: 700px;
    // background-color: rgb(119, 118, 118);
    margin:  auto;
    background-color: white;
    &__header{
      height: 97px;
      font-size:22px;
      text-align:center;
      line-height: 97px;
      font-weight: bold;
      border-bottom: solid 0.1px rgb(245,245,245);
    }
    &__registration{
      height: 100%;
      max-width: 343px;
      margin:  auto;
      padding-bottom: 50px;
      font-size: 14px;
      &__form-group{
        padding-top: 20px;
       
        &--title{
          font-size:16px;
          font-weight:bold;
          color: rgb(51, 51, 51);
        }
        &--require{
          background-color: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;

        }
        &--require1{
          background-color: #b3b2b2;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;

        }
        &--input-default{
        
          width: 300px;
          height: 46px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          padding-left:10px;

        }
        &--input-default2{
          width: 143px;
          height: 46px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          margin-right:5px;
          padding-left:10px;
        }
        &__bottom_info{
          color: #888;
        }
        &__bottom-norobot{
          width:300px;
          position:relative;
        }
        &__bottom-check{
          position:absolute;
          margin-top:-59px;
          margin-left:22px;
          transform:		scale(2.2);
        }
      }
      &__form-group2{
        width:100%;
      }
    }
  }
  .iz2_login_form_facebook{
    margin:  auto;
  }
  .iz2_login_form_google{
    margin:  auto;
  }
}

.li--red{
  color: #ea352d;
}
labeliz{
font-weight:bold;
color: rgb(51, 51, 51);
}

.iz2_container__next_button__form-group--text{
  color: #333;
  margin:20px 0;
}
.iz2_container__next_button--button{
  background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 95%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    text-align: center;

}